/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
  /* if full website has 1 font family  */
  font-family: "Poppins", serif;;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
/* All Common Css End */

/* Header Part Start  */
#header_part {
  padding: 45px 0;
}
.header_flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a{
  padding: 0 37px;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.icon_flex{
  display: flex;
  align-items: center;
  column-gap: 45px;
}
/* Header Part End */

/* Banner Part Start  */
#Banner_bg{
  background: url(../images/scandinavian-interior-mockup-wall-decal-background\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 155px;
  padding-bottom: 115px;
}
#Banner_bg .banner_card{
  width: 50%;
  background: #FFF3E3;
  margin-left: auto;
  padding: 65px 75px 35px 40px;
  border-radius: 10px;
}
.banner_card h4{
  font-size: 16px;
  font-weight: 600;
  color: #333333;
  padding-bottom: 15px;
}
.banner_card h1{
  font-size: 52px;
  font-weight: 700;
  color: #B88E2F;
  line-height: 65px;
  padding-right: 151px;
}
.banner_card p{
  width: 546px;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  line-height: 24px;
  padding-top: 20px;
  padding-bottom: 50px;
}
.banner_card a{
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 25px 72px;
  background: #B88E2F;
  text-transform: uppercase;
}
/* Banner Part End */

/* Room Part Start  */
#room_part{
  padding-top: 65px;
  padding-bottom: 70px;
}
.common_title{
  text-align: center;
}
.common_title h3{
  font-weight:700;
  font-size: 40px;
  color: #333333;
  padding-bottom: 20px;
}
.common_title p{
  font-weight:400;
  font-size: 20px;
  color: #666666;
}
.rooms_flex{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.rooms_flex .room{
  width: 32%;
}
/* Room Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */
